{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BIG WARNING NEEDS TO BE UPDATED  *&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <base href="/">
    <title>Rugby Ranker</title>
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href={% static 'angularui/styles/style.css' %}>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <!-- Angular Route -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom Angular -->
    <script src="{% static 'angularui/scripts/angularconfig.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/homeController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/rankingsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/teamController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/teamsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/tournamentController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/tournamentsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/newsletterController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/countryController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/countriesController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/otherController.js' %}"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awsome Icons -->
    <script src="https://use.fontawesome.com/fb67ec2c8e.js"></script>

</head>
{% verbatim %}
<body ng-app="sportModule" display="column" class="{{ bodyClass }}" ng-cloak class="container">
{% endverbatim %}

<header>
    {% verbatim %}
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navController">

        <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div ng-click="activeMenu=false" class="navbar-header"><a class="navbar-brand" ng-href="/">Rugby
                    Ranker</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left" ng-repeat="item in menuItems">
                        <li ng-class="{active : activeMenu === item}"><a href="{{ item.link }}"
                                                                         ng-click="setActive(item)"><i
                                class="fa {{ item.icon }}" aria-hidden="true"></i> {{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endverbatim %}
</header>

<div class="viewarea" ng-view autoscroll="true">

</div>

<footer>
    <div class="footermain">
        <div class="footerlinks">
            <a class="footerlink" href="/about"><h4>About</h4></a><br/>
            <a class="footerlink" href="/contact"><h4>Contact</h4></a><br/>
            <a class="footerlink" href="/faq"><h4>FAQ</h4></a>
        </div>

        {% verbatim %}
        <div ng-controller="newsletterController" class="newsletter">
            <form>
                <h4>{{ emailmessage }}</h4>
                <div class="emailflex">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input class="form-control" type="email" placeholder="yourname@example.com" ng-model="email">
                    </div>
                    <br>
                    <input class="btn btn-default" type="submit" value="Subscribe" ng-click="submit(email)">
                </div>
            </form>
        </div>
        {% endverbatim %}

        <div class="social">
            <i class="fa fa-twitter-square fa-4x sociallink" aria-hidden="true"></i>
            <i class="fa fa-facebook-square fa-4x sociallink" aria-hidden="true"></i>
            <i class="fa fa-snapchat-square fa-4x sociallink" aria-hidden="true"></i>
        </div>
    </div>

    <div class="copy">
        <small>&copy Rugby Ranker 2017</small>
    </div>

</footer>

</body>
</html>

