{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="3ZJvJiPvjSYgTFlACCsERHeFDRrwZJBLUeM48BsQ8Go" />
    <base href="/">
    <title>Rugby Ranker | Rugby Rankings And Comparisons For Club Rugby</title>
    <meta name="description" content="Rugby Ranking System For Club Rugby -
    | Super Rugby | Top 14 | Aviva Premiership | Guinness Pro 14 | Champions Cup | Challange Cup | Anglo Welsh Cup | Pro D2">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href={% static 'angularui/styles/style.css' %}>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <!-- Angular Route -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <!-- Angular Animate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <!-- for carasoul -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
    <!-- Angular Sanatise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.5/angular-sanitize.min.js"></script>
    <!-- Angular Touch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.7/angular-touch.min.js"></script>
    <!-- Chart JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!-- Custom Angular -->
    <script src="{% static 'angularui/scripts/angularconfig.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/homeController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/rankingsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/teamController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/teamsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/tournamentController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/tournamentsController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/newsletterController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/countryController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/countriesController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/otherController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/teamAllMatchesController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/articleController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/articlesController.js' %}"></script>
    <script src="{% static 'angularui/scripts/controllers/comparisonController.js' %}"></script>
    <!-- Angular Services -->
    <script src="{% static 'angularui/scripts/services/teamSearchService.js' %}"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awsome Icons -->
    <script src="https://use.fontawesome.com/fb67ec2c8e.js"></script>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon/icondark.ico" />
</head>
{% verbatim %}
<body ng-app="sportModule" display="column" class="{{ bodyClass }}" ng-cloak class="container">
{% endverbatim %}

<header>
    {% verbatim %}
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navController">

        <div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div ng-click="activeMenu=false" class="navbar-header"><a class="navbar-brand" ng-click="navhide()" ng-href="/">Rugby
                    Ranker</a>
                    <button type="button" class="navbar-toggle" ng-click="navshow()" data-toggle="collapse"
                            data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="datadropdown" class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li ng-repeat="item in menuItems" ng-click="navhide()" ng-class="{active : activeMenu === item}"><a href="{{ item.link }}"
                                                                         ng-click="setActive(item)"><i
                                class="fa {{ item.icon }}" aria-hidden="true"></i> {{ item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endverbatim %}
</header>

<div class="viewarea" ng-view autoscroll="true">

</div>

<footer>
    <div class="footermain">
        <div class="footerlinks">
            <a class="footerlink" href="/about"><h4>About</h4></a><br/>
            <a class="footerlink" href="/contact"><h4>Contact</h4></a><br/>
            <a class="footerlink" href="/faq"><h4>FAQ</h4></a>
        </div>

        {% verbatim %}
        <div ng-controller="newsletterController" class="newsletter">
            <form>
                <h4>{{ emailmessage }}</h4>
                <div class="emailflex">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input class="form-control" type="email" placeholder="yourname@example.com" ng-model="email">
                    </div>
                    <br>
                    <input class="btn btn-default" type="submit" value="Subscribe" ng-click="submit(email)">
                </div>
            </form>
        </div>
        {% endverbatim %}

        <div class="social">
            <a target="_blank" href="https://twitter.com/rugbyranker"><i class="fa fa-twitter-square fa-4x sociallink" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.facebook.com/rugbyranker/"><i class="fa fa-facebook-square fa-4x sociallink" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="copy">
        <small>&copy Rugby Ranker 2017</small>
    </div>

</footer>

<!-- Google Anal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97915371-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

