/*GENERAL SECTION CSS */
/*
*{border: 1px solid red}
*/
html{
     position: relative;
     min-height: 100%;
     min-width: 100%;
        max-width: 100vw;
        max-height: 100vh;
}


body{
    border-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: bold;
    max-width: 100%;
}

.standardcontent{
    padding: 5% 10% 5% 10%;
    padding-top: 50px;
}

.centerstandard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

td {
    height: 50px;
    min-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

th {
    text-align: center;
}

i {
    text-align: center;
}

tr {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

li {
    list-style-type: none;
}

.sitelogosm{
    width:50px;
    min-width: 50px;
    height: auto;
    max-height: 50px;
}

.sitelogomd{
    width:100px;
    min-width: 100px;
    height: auto;
    max-height: 100px;
}

.sitelogolg{
    width:200px;
    min-width: 200px;
    height: auto;
    max-height: 200px;
}

.sitelogovl{
    width:300px;
    min-width: 300px;
    height: auto;
    max-height: 300px;
}

.moreteamdetails{
    padding: 5%;
}

.smalltournamentlogo2 {
    height: auto;
    max-height: 50px;
    width: 50px;
    min-width: 50px;
    padding-bottom: 5%;
    padding-top: 5%;
}


.smallteamlogo {
    height: auto;
    max-height: 50px;
    width: 50px;
    min-width: 50px;
}

.midteamlogo {
    height: auto;
    min-height: 50px;
    max-height: 100px;
    min-width: 50px;
    width: 100px;
}

.xtramedteamlogo {
    height: auto;
    min-height: 50px;
    max-height: 225px;
    min-width: 50px;
    width: 225px;
}

.largeteamlogo {
    width: 300px;
    height: auto
}

.mainlogo{
    max-width: 400px;
    height: auto;
}

.flag {
    max-width: 50px;
    height: 50px;
    width: 50px;
}

.medflag {
    max-width: 100px;
    height: 100px;
    width: 100px;
}


.bigtournamentlogo {
    max-width: 200px;
    height: 200px;
    width: 200px;
}

.midtournamentlogo {
    max-width: 100px;
    height: 100px;
    width: 100px;
}

.smalltournamentlogo {
    max-width: 50px;
    height: 50px;
    width: 50px;
}

.hide {
    Display: none;
}

.odd{
    background-color: #7189A5;
}

.even{
    background-color: #A5B7CA;
}

.odd:hover{
    background-color: #2B4B6F;
    color: white;
}

.even:hover{
    background-color: #2B4B6F;
    color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.content{
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

/*Footer Styles*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 22, 40, 1);
    color: white;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.newsletter{
    max-width: 30%;
}

.footermain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 5% 2% 5%;
    background-color: rgba(2, 22, 40, 1);
    color: white;
    width: 100%;
    max-width: 100%;
}

footer a:hover{
    text-decoration: none;
    color: #738CA6;
}

footer a{
    color: white;
}


.emailflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredteamMobile{
    display: none;
}

.social{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footerlinks{
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.sociallink{
    padding-right: 5%;
    padding-left: 5%;
}

.fa-twitter-square:hover{
    color: #00aced;
}

.fa-facebook-square:hover{
    color:#3B5998;
}

.fa-snapchat-square:hover{
    color: #fffc00;
}




/* Styles For Team Page */
.team_main_stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamStats{
    padding: 2% 6% 2% 6%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 100%;
}

.teamStat{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.contentcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}


.team_details{
    display:flex;
    flex-direction: column;
    align-items: center ;
}

.team_stadium{
    width: 100%;
}

.latestgames{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latestgames table {
    width: 100%;
}

.teamrivals{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.rivalstable{
    width: 100%;
}

.fullwidthrank{
    width: 100%;
}

/* COUTNRIES CSS */

.countrycontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.country{
    padding: 2% 5% 2% 5%;
}

.currentposition{
    font-size: 500%;
}

/* Home STYLE */

.homelatestmatches{
    width: 100%;
    padding-bottom: 40px;
}

.homelatestmatches table{
    width: 100%;
}

.rankingsnip{
    width: 100%;
}

.rankingsnip table{
    width: 100%;
}

.homecontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rankingpositioncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.icon-height{
    padding-left: 30px;
}



.featuredteamname{
    padding-bottm: 20px;
 }

.flexrating{
    height: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
}

.homestats{
    padding-top: 50px;
    max-width: 50%;
}

.introcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.featuredteamhover{
    padding: 5%;
    border-radius: 3%;
    background-color: #A5B7CA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}



.featuredteamhover:hover{
    background-color: #2B4B6F;
    padding: 5%;
    border-radius: 3%;
    color:white;
}

/* teams STYLE */

.historicrank{
    padding-bottom: 20px;
}

.currentranking{
    padding-bottom: 20px;
}

.historicline{
    margin-top: 2px;
    margin-bottom: 6px;
}

.teamsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.teamTable{
    width:100%;
}

.teamTable table{
    width:100%;
}

.pagbutton{
    margin: 20px;
}

/* ARROW STYLES */

.fa-minus{
    color: #e68a00;
}

.fa-arrow-down{
    color: #ff0000;
}

.fa-arrow-up{
    color: #00b300;
}


/* OVERLAY FOR COUNTRY IMAGE */
.countrycontain {
  position: relative;
  width: 50%;
}

.countrystats{
    max-width: 30%;
}

.bigflag {
    max-width: 200px;
    height: 200px;
    width: 200px;
}

.flagimage {
  display: block;
    height: auto;
    width: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200px;
  background-color: rgba(2, 22, 40, 1);;
  opacity: 0;
  transition: .5s ease;
}

.countrycontain:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* MATCH WIDTH IN TABLE */

.oddmatch{
    background-color: #7189A5;
}

.evenmatch{
    background-color: #A5B7CA;
}

.teamname{
    min-width: 180px;
}

.teambackground {
    -webkit-filter: blur(3px) opacity(30%);
    -moz-filter: blur(3px) opacity(30%);
    -o-filter: blur(3px) opacity(30%);
    filter: blur(3px) opacity(30%);
    position:absolute;
    height: auto;

}


.teamrow{
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    position: relative;
    height: 50%;
    flex-wrap: wrap;

}

.teamcontent{
    display: flex;
    flex-direction: column;
    position: relative;
}

.latestgames{
    width: 100%;
}

latestgamestable{
    width: 100%;
}

.teamRankHistoryChart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.team_stadium{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.viewarea{
    min-height: 800px;
    max-width: 100%;
}

.aftersort{
    padding-left: 10px;
}


/* navbar */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(2, 22, 40, 1);
    border-width: 0px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(2, 22, 40, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(84, 115, 145, 1);
    background-color: rgba(2, 22, 40, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(2, 22, 40, 1);
    background-color: rgba(226, 230, 235, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 230, 235, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(226, 230, 235, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #e2e6eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #e2e6eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #e2e6eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #021628;
}

#custom-bootstrap-menu.navbar-default {
    border-radius: 0px;
}

.navbar {
    margin: 0px;
    border: 0px;
    width: 100%;
}


/* Country CSS */

.countryintro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.countryteams{
    width: 100%;
}

.countrytournaments{
    width: 100%;
}

.countryteams table{
    width: 100%;
}

.countrytournaments table{
    width: 100%;
}


/* CONTACT PAGE */

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contactoption{
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
}

.contacttext{
    padding-left: 20px;
    font-size: 125%;
}

.contentheadertext{
    text-align: center;
}

/* FAQ PAGE */

.faqanswer{
    text-align: justify;
}

.faqs {
    padding-bottom: 10px;
    padding-top: 10px;
}

.faqquestion{
    margin-bottom: 0px;
}

.faqs hr{
    margin-top: 5px;
}

/* Tournaments */

.tournamentflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.tournamentmainlogo{
   width: 220px;
   height: 220px;
}

.tournamentlogoimage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* OVERLAY FOR TOURNAMENTS */
.tournamentcontainer {
  position: relative;
  width: 50%;
    margin: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.touroverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 220px;
  width: 220px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(2, 22, 40, 1);
}

.tournamentcontainer:hover .touroverlay {
  opacity: 1;
}

.tourtext {
  display: flex;
  justify-content: center;
    padding: 5px;
  color: white;
  font-size: 20px;
    width: 100%;
}

.countriesflags{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.exflag {
    padding-right: 2px;
    padding-left: 2px;
}


/* tournament */

.tournamentcountries{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tournamentcountry{
    padding: 30px;
}

.tournamentsbottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tourteams{
    width: 100%;
}

.tourteamtable{
    width: 100%;
}

.tourrecentgames{
    width: 100%;
}

.tourrecentgames table{
    width: 100%;
}

.tourrecentgamesrow{
    height: 100px;
}

/* ranking style */

.rankingsearch{
    padding-bottom: 40px;
}

.rankSearch{
    padding: 5%;
}

.fa-ellipsis-v{
    color: white;
}


/* MOBILE FRIENDLY */
/* Home */
.rankingsnipmobile{
    display: none;
    width:100%;
}

.rankingsnipmobile table{
    width: 100%;
}

.homecontentmobile{
    display: none;
    width:100%;
}

.mobilematch {
    padding: 1% 5% 1% 5%;
    min-height: 130px;
}


.mobilehometeam{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */
}

.mobileawayteam{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firstMatch{
    padding-right: 40px;
}

.secondMatch{
    width: 200px;
    padding-right: 40px;
}

.thirdMatch{
}


/* Ranking page styles mobule */
.mobilerank{
      display: none;
        width: 100%;
  }

.mobilerank table{
    width: 100%;
  }

.mobilerank tbody{
    min-width: 100%;
    width: 100%;
}

.tourRecentGamesMedium{
    display: none;
}

@media (max-width: 1000px){
    .tourrecentgames{
        display: none;
    }
    .tourRecentGamesMedium{
        display: block;
    }

    .footermain{
        flex-direction: column;
    }

    .newsletter{
        min-width: 60%;
        padding-bottom: 30px;
    }

    .footerlinks{
        flex-direction: row;
        padding-bottom: 30px;
    }

    .footerlinks a {
        padding-right: 30px;
        padding-left: 30px;
    }

}



@media (max-width: 800px) {
    .tourHideMobile{
        display: none;
    }
    .featuredteamMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .featuredteam{
        display: none;
        max-width: 400px;
    }

    .tourrecentgamesrow img{
        class: "smallteamlogo";
    }

   .standardcontent{
       padding: 5%;
   }

  .rankingsnip {
    display: none;
  }

  .homecontentmobile{
      display: block;
  }

  .rankingsnipmobile{
        display: block;
    }

  .homelatestmatches{
        display: none;
  }

  .mobilerank{
      display: table;
      width: 100%;
  }

  .mobilerank table{
      width: 100%;
  }

  .fullwidthrank{
      display: none;
      width: 100%;
  }

  .standardcontent{
        padding-top: 50px;
    }
}

.rankingtables{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rankingtables table{
    width: 100%;
}

.rankingtables tbody{
    width: 100%;
}



@media (max-width: 1135px){
    .teamname{
        min-width: 140px;
    }
    .matchHide{
        display: none;
    }
}

.latestgamesMobile{
    display:none;
}

/* Media Query for team mobile page */
@media (max-width: 960px){

    .latestgames{
        display: none;
    }

    .latestgamesMobile{
        display: block;
    }

}

.teamRivalsMobile{
    display: none;
}

.midlogoshow{
    display: none;
}

.hidemidLogo{
        display: none;
    }

@media(max-width: 600px){

    .hideLargeLogo{
        display: none;
    }

    .hidemidLogo{
        display: block;
    }

    .homestats{
        max-width: 80%;
    }

    .rivalMobileHide{
        display: none;
    }

    .largelogoshow{
        display: none;
    }
    .midlogoshow{
        display: block;
    }

    .newsletter{
        width: 100%;
        max-width: 100%;
    }

    .sociallink{
        padding-left: 15px;
        padding-right: 15px;
    }

    .footerlink{
        padding-left: 15px;
        padding-right: 15px;
    }

    .headline{
        font-size: 150%;
    }
    .headlineDate{
        font-size: 100%;
    }
}

@media(max-width: 420px){
    .countryintro{
        flex-direction: column;
    }

    .countrystats{
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
    .countrySentence{
        width: 100%;
    }

    .teamRivalsMobile{
        display: block;
        padding-top: 30px;
    }
    .teamrivals{
        display: none;
    }
    .mobileRival{
        display: flex;
        padding: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 105px;
    }
    .rivalInfo{
        padding-left: 10px;
    }

    .footerlinks a {
        padding-right: 8px;
        padding-left: 8px;
    }

}

    /* END */

.ssmobilerank{
    display: none;
}

@media (max-width: 500px) {

    .countryStatSentence{
        display: none;
    }

    .countrySentence{
        padding-left: 20%;
        padding-right: 20%;
    }

    .mobilerank{
      display: none;
  }

    .ssmobilerank table{
        width: 100%;
    }

    .ssmobilerank {
        width: 100%;
        display: table;
    }

    .ssmobilerank td{
        padding-right: 15px;
        padding-left: 15px;
    }
}


/* MOBILE STYLES FOR TEAMS PAGE */

@media (max-width: 400px) {
    .teamsmobilehide{
        display: none;
    }

    .ssmobilerank td{
        padding-right: 5px;
        padding-left: 5px;
    }

    .contacttext{
        display: none;
    }

}

/* Styles for ranking change teams */
.rankingChanges{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logocontainer{
    min-height: 100px;
    max-height: 100px;
    margin: 10%;
}

.rankingChangeTeam{
    padding: 2% 5% 2% 5%;
}


.rankingChangeTeamContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 3%;
    background-color: #A5B7CA;
    max-height: 290px;
}

.green{
    color: #00b300;
}

.red{
    color: #ff0000;
}

.currentRatingChange{
    font-size: 200%;
}

.rankingChangeTeamContent:hover{
    background-color: #2B4B6F;
    color: white;
}

.teamchangepos{
    padding-left: 20px;
}

.centerstadium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Backgrounds */
.bgimagehome {
    position: absolute;
    height: 100vh;
    width:100%;
    background-image: url('/static/images/background/background1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px) opacity(40%);
    -moz-filter: blur(2px) opacity(40%);
    -o-filter: blur(2px) opacity(40%);
    filter: blur(2px) opacity(40%);
    z-index: -1;
}

.bgimageteam{
    position: absolute;
    height: 100vh;
    width:100%;
    background-image: url('/static/images/background/teambackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px) opacity(40%);
    -moz-filter: blur(2px) opacity(40%);
    -o-filter: blur(2px) opacity(40%);
    filter: blur(2px) opacity(40%);
    z-index: -1;
}

.bgimagecountry {
    position: absolute;
    height: 100vh;
    width:100%;
    background-image: url('/static/images/background/countrybackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px) opacity(40%);
    -moz-filter: blur(2px) opacity(40%);
    -o-filter: blur(2px) opacity(40%);
    filter: blur(2px) opacity(40%);
    z-index: -1;
}

.bgimagetournament {
    position: absolute;
    height: 100vh;
    width:100%;
    background-image: url('/static/images/background/tournamentbackground.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px) opacity(40%);
    -moz-filter: blur(2px) opacity(40%);
    -o-filter: blur(2px) opacity(40%);
    filter: blur(2px) opacity(40%);
    z-index: -1;
}

.contentcon{
    height: 100vh;
}


/* Chart */
.maxChartSize{
    max-height: 300px;
    max-width: 300px;

}

.maxHistoryChartSize{
    max-width: 700px;
}

@media (max-width: 1100px) {
    .teamStats{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.allRankedMatchesButton{
    margin: 20px;
}

a {
    text-decoration: none;
}

.btn a{
    text-decoration: none;
}

.btn a:hover{
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: rgba(2, 22, 40, 1);
    color: white;
}

.thickHr{
    border-top: 1px solid rgba(2, 22, 40, 1);
}

.aboutpara{
    padding-top: 20px;
    text-align: justify;
}

a:hover{
    text-decoration: none;
}

@media (max-width: 450px){
    .tournamentcountries{
        display: none;
    }
}

.teamStadium{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.mobileRivalName{
    width: 100%;
}

.mobileRivalImage{
    padding-left: 40px;
}

.mobileRivalTeamName{
    padding-left: 30px;
}

.rivalsDivider{
    margin-top: 2px;
    margin-bottom: 2px;
}



/* STYLES FOR ARTICLES PAGE */

.articleSmall{
    margin: 5% 5% 1% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.articleContentAreaSmall{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.articleImageSmall{
    max-width: 50%;
    max-height: 250px;
    margin-top: 0px;
}

.articleContentSmall{
    width: 50%;
    padding-left: 5%;
}

.articlesMainHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.articlesHr{
 height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 2px;
    margin-bottom: 2px;

}

@media (max-width: 700px){
    .articleContentAreaSmall{
        flex-direction: column;
    }
    .articleImageSmall{
        max-width: 100%;
        width: 100%;
    }
    .articleContentSmall{
        max-width: 100%;
        width: 100%;
}
    .articleContentSmall{
        padding: 0%;
        padding-top: 6px;
    }
}

/* STYLES FOR ARTICLE PAGE */

.articleImage{
    width: 100%;
}

.mainArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articleContainer{
    max-width: 800px;
}

.articleHr{
 height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}


/********************************* CARASOUL ****************************/
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}

/*********************8 carasoul *******************/

.bigImage{
    width: 800px;
    -webkit-filter: grayscale(35%); /* Safari 6.0 - 9.0 */
    filter: grayscale(35%);
}