<div class="standardcontent">
    <h3>Select Teams To Compare</h3>
    <hr class="articleHr">
    <div>
        <h4 ng-show="showSearchWarning"><i class="fa fa-exclamation-triangle warningSign"
                                           aria-hidden="true"></i><span>{{ errorMessage }}</span></h4>
    </div>
    <div>
        <br>
        <div class="input-group margin-bottom-sm rankingsearch">
            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Search Teams" ng-model="keywordsA"
                   ng-change="searchA()">
        </div>
        <div ng-if="searchReponseLengthA > 0">
            <!--
            <table class="teamComparisonSearchResults">
                <tr ng-repeat="team in searchResponseA" ng-class-odd="'oddNoHover'" ng-class-even="'evenNoHover'">
                    <td>{{ team.name }}</td>
                    <td><img class="smallteamlogo" src="{{ team.logo_url }}"></td>
                    <td ng-click="addTeam(team)"><i class="fa fa-plus-square fa-2x hoverChange" aria-hidden="true"></i>
                    </td>
                </tr>
            </table>
            -->
            <div class="displayDesktop">
                <table class="comparisonMobileTableNotFixed">
                    <tr ng-repeat="team in searchResponseA" class="mobileComparisonRowNoHover"
                        ng-click="clickteam(team.id)">
                        <td style="width:80%" class="mobileComparisonDataRank">
                            <img class="smallteamlogo " src="{{ team.logo_url }}">
                            <span class="paddingMatch">{{ team.name }}</span>
                        </td>
                        <td style="width:20%" class="mobileComparisonDataRankHover"
                            ng-click="addTeam(team)">
                            <div class="tableContent">
                                <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="displayMobile">
                <table class="comparisonMobileTableNotFixed">
                    <tr ng-repeat="team in searchResponseA" class="mobileComparisonRowNoHover"
                        ng-click="clickteam(team.id)">
                        <td style="width:85%" class="mobileComparisonDataRankReducedPadding">
                            <img class="smallteamlogo " src="{{ team.logo_url }}">
                            <span class="paddingMatch">{{ team.name }}</span>
                        </td>
                        <td style="width:15%" class="mobileComparisonDataRankHover"
                            ng-click="addTeam(team)">
                            <div class="tableContent">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
    <div>
        <h3>Current Selection</h3>
        <div class="flexWrap">
            <div ng-repeat="team in selectedTeams">
                <div class="flexColumn">
                    <div class="titleDiv"><h4><span>{{ team.name }}</span><i ng-click="removeTeam(team)" class="fa fa-window-close padleft" aria-hidden="true"></i></h4></div>
                    <hr class="smallHr">
                    <img class="midteamlogo" src="{{ team.logo_url }}">
                </div>
            </div>
        </div>

        <br>
        <div class="centerSearch">
            <input class="btn btn-default" type="submit" value="CompareTeams" ng-click="compareTeams()">
        </div>
    </div>

</div>
