<div class="bgimagehome">
</div>
<div class="contentcon standardcontent">
    <div class="introcontainer">
        <div class="homestats">
            <div class="headlinetext">
                <h1 class="headline">Currently ranking <b>{{ details.Teams }} Teams </b> Accros
                    <b>{{ details.Tournaments }}
                        Global Tournaments </b> In <b>{{ details.Matches }} Matches.</b></h1>
                <br>
                <h1 class="headline">See the full rankings <a ng-href="/rankings/"><b>Here</b></a></h1>
            </div>
            <br>
            <br>
            <div class="rankingdates">
                <h4 class="headlineDate">First Ranked Match:
                    <b><br><span>{{ details.FirstMatch | date : "d-MMMM-yyyy" }}</span></b></h4>
                <h4 class="headlineDate">Latest Ranked Match:
                    <b><br><span>{{ details.LastMatch | date : "d-MMMM-yyyy" }}</span></b></h4>
            </div>
        </div>

        <div class="featuredteam">
            <h3>Featured Team</h3>
            <div class="featuredteamhover" ng-click="clickfeatured(featured.id)">
                <h4 class="featuredteamname"><b>{{ featured.name }} - {{ featured.thisweek_rating }}</b></h4>
                <img class="largeteamlogo" src="{{ featured.logo_url }}"
                     alt="{{ featured.name }} logo">
                <div class="rankingpositioncontainer">
                    <div class="homerankingposition">
                        <span class="currentposition">{{ featured.thisweek_position }}</span>
                        <span ng-show="featured.thisweek_position == featured.lastweek_position"><i
                                class="fa fa-minus fa-5x icon-height" aria-hidden="true"></i></span>
                        <span ng-show="featured.thisweek_position > featured.lastweek_position"><i
                                class="fa fa-arrow-down fa-5x icon-height" aria-hidden="true"></i></span>
                        <span ng-show="featured.thisweek_position < featured.lastweek_position"><i
                                class="fa fa-arrow-up fa-5x icon-height" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div><p>({{ featured.lastweek_position }})</p></div>
            </div>
        </div>
    </div>
</div>

<div class="standardcontent">
    <div class="featuredteamMobile">
            <h3>Featured Team</h3>
            <div class="featuredteamhover" ng-click="clickfeatured(featured.id)">
                <h4 class="featuredteamname"><b>{{ featured.name }} - {{ featured.thisweek_rating }}</b></h4>
                <img class="xtramedteamlogo" src="{{ featured.logo_url }}"
                     alt="{{ featured.name }} logo">
                <div class="rankingpositioncontainer">
                    <div class="homerankingposition">
                        <span class="currentposition">{{ featured.thisweek_position }}</span>
                        <span ng-show="featured.thisweek_position == featured.lastweek_position"><i
                                class="fa fa-minus fa-5x icon-height" aria-hidden="true"></i></span>
                        <span ng-show="featured.thisweek_position > featured.lastweek_position"><i
                                class="fa fa-arrow-down fa-5x icon-height" aria-hidden="true"></i></span>
                        <span ng-show="featured.thisweek_position < featured.lastweek_position"><i
                                class="fa fa-arrow-up fa-5x icon-height" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div><p>({{ featured.lastweek_position }})</p></div>
            </div>
        </div>
    <div class="homecontent">
        <div class="homelatestmatches">
            <h3>Latest Ranked Matches</h3>
            <table>
                <tr>
                    <th>Hometeam</th>
                    <th class="matchHide"></th>
                    <th>Score</th>
                    <th class="matchHide"></th>
                    <th>Score</th>
                    <th>Awayteam</th>
                    <th class="matchHide"></th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat="match in matches" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                    <td><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}"></td>
                    <td class="matchHide" class="teamname">{{ match.hometeam.name }}</td>
                    <td>{{ match.hometeam_score }}</td>
                    <td class="matchHide">-</td>
                    <td>{{ match.awayteam_score }}</td>
                    <td><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}"></td>
                    <td class="matchHide" class="teamname">{{ match.awayteam.name }}</td>
                    <td>{{ match.match_date | date : "d-MMMM-yyyy" }}</td>
                </tr>
            </table>
        </div>

        <div class="homecontentmobile">
            <h3>Latest Ranked Matches</h3>
            <div class="mobilematch" ng-repeat="match in matches" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                <div class="mobileawayteam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.hometeam.name }}</span>
                    <span class="thirdMatch"><b>{{ match.hometeam_score }}</b></span>
                </div>
                <div class="mobilehometeam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.awayteam.name }}</span>
                    <span class="thirdMatch">{{ match.awayteam_score }}</span>
                </div>
            </div>
        </div>

        <div class="rankingsnip">
            <h3>Top 15 Teams</h3>
            <table>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th></th>
                    <th>Rating</th>
                    <th>Country</th>
                    <th>Movement</th>
                </tr>
                <tr ng-repeat="rank in rankings" ng-class-odd="'odd'" ng-class-even="'even'"
                    ng-click="clickrank(rank.id)">
                    <td>{{ rank.thisweek_position }}</td>
                    <td>{{ rank.name }}</td>
                    <td><img class="smallteamlogo" src="{{ rank.logo_url }}"></td>
                    <td>{{ rank.thisweek_rating }}</td>
                    <td><a ng-href="/countries/{{ rank.country.id }}"><img class="flag"
                                                                           src="{{ rank.country.flag_url }}"></a>
                    </td>
                    <td ng-show="rank.thisweek_position == rank.lastweek_position"><i class="fa fa-minus fa-2x"
                                                                                      aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>
                    <td ng-show="rank.thisweek_position > rank.lastweek_position"><i class="fa fa-arrow-down fa-2x"
                                                                                     aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>
                    <td ng-show="rank.thisweek_position < rank.lastweek_position"><i class="fa fa-arrow-up fa-2x"
                                                                                     aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>

                </tr>
            </table>
        </div>

        <div class="rankingsnipmobile">
            <h3>Top 15 Teams</h3>
            <table>
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Ranking</th>
                    <th>Change</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rank in rankings" ng-class-odd="'odd'" ng-class-even="'even'"
                    ng-click="clickrank(rank.id)">
                    <td><b>{{ rank.thisweek_position }}</b></td>
                    <td><img class="smallteamlogo" src="{{ rank.logo_url }}"></td>
                    <td ng-show="rank.thisweek_position == rank.lastweek_position"><i class="fa fa-minus fa-2x"
                                                                                      aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>
                    <td ng-show="rank.thisweek_position > rank.lastweek_position"><i class="fa fa-arrow-down fa-2x"
                                                                                     aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>
                    <td ng-show="rank.thisweek_position < rank.lastweek_position"><i class="fa fa-arrow-up fa-2x"
                                                                                     aria-hidden="true"></i>
                        <p>({{ rank.lastweek_position }})</p></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>