<div class="bgimagehome">
</div>
<div class="contentcon standardcontent">
    <div class="introcontainer">
        <div class="homestats">
            <div class="headlinetext">
                <h1 class="headline">Currently ranking <b>{{ details.Teams }} Teams </b> Across
                    <b>{{ details.Tournaments }}
                        Global Tournaments </b> In <b>{{ details.Matches }} Matches.</b></h1>
                <br>
                <h1 class="headline">See the full rankings <a ng-href="/rankings/"><b>Here</b></a></h1>
            </div>
            <br>
            <br>
            <div class="rankingdates">
                <h4 class="headlineDate">First Ranked Match:
                    <b><br><span>{{ details.FirstMatch | date : "d-MMMM-yyyy" }}</span></b></h4>
                <h4 class="headlineDate">Latest Ranked Match:
                    <b><br><span>{{ details.LastMatch | date : "d-MMMM-yyyy" }}</span></b></h4>
            </div>
        </div>

        <div class="featuredteam">
            <h3>Featured Team</h3>
            <div class="featuredteamhover" ng-click="clickfeatured(featured.id)">
                <h4 class="featuredteamname"><b>{{ featured.name }} - {{ featured.thisweek_rating }}</b></h4>
                <img class="largeteamlogo" src="{{ featured.logo_url }}"
                     alt="{{ featured.name }} logo">
                <div class="rankingpositioncontainer">
                    <div class="homerankingposition">
                        <span class="currentposition">{{ featured.thisweek_position }}</span>
                        <span class="largeComparisonArrow"><i
                                ng-show="featured.thisweek_position == featured.lastweek_position"
                                class="fa fa-minus fa-5x teamchangepos"
                                aria-hidden="true"></i></span>
                        <span class="largeComparisonArrow"><i
                                ng-show="featured.thisweek_position > featured.lastweek_position"
                                class="fa fa-arrow-down fa-5x teamchangepos"
                                aria-hidden="true"></i></span>
                        <span class="largeComparisonArrow"><i
                                ng-show="featured.thisweek_position < featured.lastweek_position"
                                class="fa fa-arrow-up fa-5x teamchangepos"
                                aria-hidden="true"></i></span>
                        <span class="smallComparisonArrow"><i
                                ng-show="featured.thisweek_position == featured.lastweek_position"
                                class="fa fa-minus fa-3x teamchangepos"
                                aria-hidden="true"></i></span>
                        <span class="smallComparisonArrow"><i
                                ng-show="featured.thisweek_position > featured.lastweek_position"
                                class="fa fa-arrow-down fa-3x teamchangepos"
                                aria-hidden="true"></i></span>
                        <span class="smallComparisonArrow"><i
                                ng-show="featured.thisweek_position < featured.lastweek_position"
                                class="fa fa-arrow-up fa-3x teamchangepos"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <div><p>({{ featured.lastweek_position }})</p></div>
            </div>
        </div>
    </div>
</div>

<div class="standardcontent">
    <div class="featuredteamMobile">
        <h3>Featured Team</h3>
        <div class="featuredteamhover" ng-click="clickfeatured(featured.id)">
            <h4 class="featuredteamname"><b>{{ featured.name }} - {{ featured.thisweek_rating }}</b></h4>
            <img class="xtramedteamlogo" src="{{ featured.logo_url }}"
                 alt="{{ featured.name }} logo">
            <div class="rankingpositioncontainer">
                <div class="homerankingposition">
                    <span class="currentposition">{{ featured.thisweek_position }}</span>
                    <span ng-show="featured.thisweek_position == featured.lastweek_position"><i
                            class="fa fa-minus fa-3x icon-height" aria-hidden="true"></i></span>
                    <span ng-show="featured.thisweek_position > featured.lastweek_position"><i
                            class="fa fa-arrow-down fa-3x icon-height" aria-hidden="true"></i></span>
                    <span ng-show="featured.thisweek_position < featured.lastweek_position"><i
                            class="fa fa-arrow-up fa-3x icon-height" aria-hidden="true"></i></span>
                </div>
            </div>
            <div><p>({{ featured.lastweek_position }})</p></div>
        </div>
    </div>
    <div class="homecontent">
        <div class="homeArticles">
            <b><h3>Latest News</h3></b>
            <hr class="articlesHr">
            <div class="articleContainer" ng-repeat="article in articles">
                <div class="articleHomeContent">
                    <a href="/articles/{{ article.id }}"><h3>{{ article.mainheading }}</h3></a>
                    <a href="/articles/{{ article.id }}"><img src="{{ article.mainimage }}"></a>
                    <p>{{ article.summary }}</p>
                    <a href="/articles/{{ article.id }}"><p>Read More...</p></a>
                    <small>{{ article.author }} - {{ article.date | date : "d-MMMM-yyyy" }}</small>
                </div>
                <hr class="articlesHr">
            </div>
        </div>

        <div class="homelatestmatches">
            <h3>Latest Ranked Matches</h3>

            <table class="comparisonMobileTableNotFixed">
                <tr>
                    <th>Hometeam</th>
                    <th>Score</th>
                    <th>Awayteam</th>
                    <th>Score</th>
                    <th>Tournament</th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat="match in matches" class="mobileComparisonRowNoHover">
                    <td class="mobileComparisonDataRank"><img class="smallteamlogo" alt="{{ match.hometeam.name }} logo"
                                                              src="{{ match.hometeam.logo_url }}"><span
                            class="matchHide paddingMatch teamname">{{ match.hometeam.name }}</span></td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent">{{ match.hometeam_score }}</div>
                    </td>
                    <td class="mobileComparisonDataRank"><img class="smallteamlogo" alt="{{ match.awayteam.name }} logo"
                                                              src="{{ match.awayteam.logo_url }}"><span
                            class="matchHide paddingMatch teamname">{{ match.awayteam.name }}</span></td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent">{{ match.awayteam_score }}</div>
                    </td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent"><img class="smalltournamentlogo2"
                                                       alt="{{ match.tournament.name }} logo"
                                                       src="{{ match.tournament.logo_url }}"></div>
                    </td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent">{{ match.match_date | date : "d-MMMM-yyyy" }}</div>
                    </td>
                </tr>
            </table>

        </div>

        <div class="homecontentmobile">
            <h3>Latest Ranked Matches</h3>
            <table class="comparisonMobileTableNotFixed">
                <tbody ng-repeat="match in matches">
                <tr>
                    <td class="wholeWidth">{{ match.match_date | date : "d-MMMM-yyyy" }}
                        - {{ match.tournament.name }}</td>
                </tr>
                <tr>
                    <td class="mobileComparisonDataRankSmall">
                        <img class="smallteamlogo" src="{{ match.hometeam.logo_url }}">
                        <span class="recentTeamName">{{ match.hometeam.name }}</span>
                    </td>
                    <td class="mobileComparisonDataRank">{{ match.hometeam_score }}</td>
                </tr>
                <tr>
                    <td class="mobileComparisonDataRankSmall">
                        <img class="smallteamlogo" src="{{ match.awayteam.logo_url }}">
                        <span class="recentTeamName">{{ match.awayteam.name }}</span>
                    </td>
                    <td class="mobileComparisonDataRank">{{ match.awayteam_score }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="rankingsnip">
            <h3>Top 15 Teams</h3>

            <table class="comparisonMobileTableNotFixed">
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th></th>
                    <th>Rating</th>
                    <th>Country</th>
                    <th>Movement</th>
                </tr>
                <tr ng-repeat="rank in rankings" class="mobileComparisonRowRank"
                    ng-click="clickrank(rank.id)">
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent">{{ rank.thisweek_position }}</div>
                    </td>
                    <td class="mobileComparisonDataRank">{{ rank.name }}</td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent"><img class="smallteamlogo" src="{{ rank.logo_url }}"></div>
                    </td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent">{{ rank.thisweek_rating }}</div>
                    </td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent"><a ng-href="/countries/{{ rank.country.id }}"><img class="flag"
                                                                                                     src="{{ rank.country.flag_url }}"></a>
                        </div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position == rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-minus fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position > rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-arrow-down fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position < rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-arrow-up fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>

                </tr>
            </table>
        </div>

        <div class="rankingsnipmobile">
            <h3>Top 15 Teams</h3>

            <table class="comparisonMobileTableNotFixed">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Ranking</th>
                    <th>Change</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rank in rankings" class="mobileComparisonRowRank"
                    ng-click="clickrank(rank.id)">
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent"><b>{{ rank.thisweek_position }}</b></div>
                    </td>
                    <td class="mobileComparisonDataRank">
                        <div class="tableContent"><img class="smallteamlogo" src="{{ rank.logo_url }}"></div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position == rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-minus fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position > rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-arrow-down fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>
                    <td class="mobileComparisonDataRank" ng-show="rank.thisweek_position < rank.lastweek_position">
                        <div class="tableContent"><i class="fa fa-arrow-up fa-2x"
                                                     aria-hidden="true"></i>
                            <p>({{ rank.lastweek_position }})</p></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>