<div class="standardcontent">
    <h3>Rankings</h3>

    <div class="rankingChanges">
        <div class="rankingChangeTeam">
            <h4 class="changeHeading"><b>This Weeks Biggest Climber</b></h4>
            <div class="rankingChangeTeamContent" ng-click="clickrank(highestlowest.biggestGain.id)">
                <h4><b>{{ highestlowest.biggestGain.name }}</b></h4>
                <div class="logocontainer">
                    <img class="midteamlogo" src="{{ highestlowest.biggestGain.logo_url }}">
                </div>
                <p class="green"><b> UP {{ (highestlowest.biggestGain.thisweek_position - highestlowest.biggestGain.lastweek_position) * -1 }} </b></p>
                <p class="currentRatingChange"><b>{{ highestlowest.biggestGain.thisweek_position }}</b></p>
            </div>
        </div>
        <div class="rankingChangeTeam">
            <h4 class="changeHeading"><b>This Weeks Biggest Faller</b></h4>
            <div class="rankingChangeTeamContent" ng-click="clickrank(highestlowest.biggestLoss.id)">
                <h4><b>{{ highestlowest.biggestLoss.name }}</b></h4>
                <div class="logocontainer">
                    <img class="midteamlogo" src="{{ highestlowest.biggestLoss.logo_url }}">
                </div>
                <p class="red"><b> DOWN {{ highestlowest.biggestLoss.thisweek_position - highestlowest.biggestLoss.lastweek_position }} </b></p>
                <p class="currentRatingChange"><b>{{ highestlowest.biggestLoss.thisweek_position }}</b></p>
            </div>
        </div>
    </div>

    <div class="input-group margin-bottom-sm rankingsearch">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="Search Rankings" ng-model="searchRank">
    </div>

    <div class="rankingtables">
        <table class="fullwidthrank">
            <thead>
            <tr>
                <th ng-click="sortType = 'thisweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Position<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Team <i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click=""></th>
                <th ng-click="sortType = 'thisweek_rating'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Rating<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'country.name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Country<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'thisweek_position - lastweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Movement<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rank in rankingdata | orderBy:sortType:sortReverse | filter:searchRank" ng-class-odd="'odd'"
                ng-class-even="'even'" ng-click="clickrank(rank.id)">
                <td>{{ rank.thisweek_position }}</td>
                <td>{{ rank.name }}</td>
                <td><img class="smallteamlogo" src="{{ rank.logo_url }}"></td>
                <td>{{ rank.thisweek_rating }}</td>
                <td><span class="hide" {{ rank.country.name }}></span><a
                        ng-href="/countries/{{ rank.country.id }}"><img class="flag"
                                                                        src="{{ rank.country.flag_url }}"></a>
                </td>
                <td ng-show="rank.thisweek_position == rank.lastweek_position"><i class="fa fa-minus fa-2x"
                                                                                  aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position > rank.lastweek_position"><i class="fa fa-arrow-down fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position < rank.lastweek_position"><i class="fa fa-arrow-up fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
            </tr>
            </tbody>
        </table>

        <table class="mobilerank">
            <thead>
            <tr>
                <th ng-click="sortType = 'thisweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Position<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Team <i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click=""></th>
                <th ng-click="sortType = 'thisweek_position - lastweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Movement<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rank in rankingdata | orderBy:sortType:sortReverse | filter:searchRank" ng-class-odd="'odd'"
                ng-class-even="'even'" ng-click="clickrank(rank.id)">
                <td>{{ rank.thisweek_position }}</td>
                <td>{{ rank.name }}</td>
                <td><img class="smallteamlogo" src="{{ rank.logo_url }}"></td>
                <td ng-show="rank.thisweek_position == rank.lastweek_position"><i class="fa fa-minus fa-2x"
                                                                                  aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position > rank.lastweek_position"><i class="fa fa-arrow-down fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position < rank.lastweek_position"><i class="fa fa-arrow-up fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
            </tr>
            </tbody>
        </table>

        <table class="ssmobilerank">
            <thead>
            <tr>
                <th ng-click="sortType = 'thisweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Position<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click=""></th>
                <th ng-click="sortType = 'thisweek_position - lastweek_position'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Movement<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rank in rankingdata | orderBy:sortType:sortReverse | filter:searchRank" ng-class-odd="'odd'"
                ng-class-even="'even'" ng-click="clickrank(rank.id)">
                <td>{{ rank.thisweek_position }}</td>
                <td><img class="smallteamlogo" src="{{ rank.logo_url }}"></td>
                <td ng-show="rank.thisweek_position == rank.lastweek_position"><i class="fa fa-minus fa-2x"
                                                                                  aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position > rank.lastweek_position"><i class="fa fa-arrow-down fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
                <td ng-show="rank.thisweek_position < rank.lastweek_position"><i class="fa fa-arrow-up fa-2x"
                                                                                 aria-hidden="true"></i>
                    <p>({{ rank.lastweek_position }})</p></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


