<div class="standardcontent">
    <div class="latestgames">
        <h3>{{ details.name }} Ranked Matches</h3>
        <div class="input-group margin-bottom-sm rankingsearch">
            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Search Ranked Matches" ng-model="searchRankedMatches">
        </div>
        <table class="comparisonMobileTableNotFixed">
            <tr>
                <th ng-click="sortType = 'hometeam.name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Hometeam<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'hometeam_score'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Score<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'awayteam.name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Awayteam<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'awayteam_score'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Score<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'match_date'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Date<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th ng-click="sortType = 'tournament.name'; sortReverse = !sortReverse">
                    <button class="btn">
                        <div class="sortbutton">Tournament<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                    </button>
                </th>
                <th>
                        <div class="sortbutton">Rating Change</div>
                </th>
                <th>
                        <div class="sortbutton">Rating</div>
                </th>
            </tr>
            <tr ng-repeat="match in teamRankedMatches | orderBy:sortType:sortReverse | filter:searchRankedMatches" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'" ng-show="match.awayteam_rating_after != 0">
                <td class="mobileComparisonDataRankReducedPadding"><img class="smallteamlogo" alt="{{ match.hometeam.name }} logo" src="{{ match.hometeam.logo_url }}"><span class="rivalSpacer">{{ match.hometeam.name }}</span></td>
                <td class="mobileComparisonDataRank"><div class="tableContent">{{ match.hometeam_score }}</div></td>
                <td class="mobileComparisonDataRankReducedPadding"><img class="smallteamlogo"  alt="{{ match.awayteam.name }} logo" src="{{ match.awayteam.logo_url }}"><span class="rivalSpacer">{{ match.awayteam.name }}</span></td>
                <td class="mobileComparisonDataRank"><div class="tableContent">{{ match.awayteam_score }}</div></td>
                <td class="mobileComparisonDataRank"><div class="tableContent">{{ match.match_date | date : "d-MMMM-yyyy" }}</div></td>
                <td class="mobileComparisonDataRank"><img class="smalltournamentlogo2" alt="{{ match.tournament.name }} logo" src="{{ match.tournament.logo_url }}"></td>
                <td class="mobileComparisonDataRank" ng-class="{green: (match.hometeam_rating_after - match.hometeam_rating_before > 0), red: (match.hometeam_rating_after - match.hometeam_rating_before < 0)}"
                    ng-show="teamId == match.hometeam.id">
                    <div class="tableContent">{{ match.hometeam_rating_after - match.hometeam_rating_before }}</div></td>
                <td class="mobileComparisonDataRank" ng-class="{green: (match.hometeam_rating_after - match.hometeam_rating_before < 0), red: (match.hometeam_rating_after - match.hometeam_rating_before > 0)}"
                    ng-show="teamId == match.awayteam.id">
                    <div class="tableContent">{{ match.awayteam_rating_after - match.awayteam_rating_before }}</div></td>
                <td class="mobileComparisonDataRank" ng-show="teamId == match.hometeam.id"><div class="tableContent">{{ match.hometeam_rating_after }}</div></td>
                <td class="mobileComparisonDataRank" ng-show="teamId == match.awayteam.id"><div class="tableContent">{{ match.awayteam_rating_after }}</div></td>
            </tr>
        </table>
    </div>
    <div class="latestgamesMobile">
        <h3>Latest Ranked Matches</h3>
        <div class="mobilematch" ng-repeat="match in teamRankedMatches" ng-class-odd="'oddmatch'"
             ng-class-even="'evenmatch'">
            <div class="mobileawayteam">
                <img class="smallteamlogo" src="{{ match.hometeam.logo_url }}">
                <span>{{ match.hometeam.name }}</span>
                <span><b>{{ match.hometeam_score }}</b></span>
            </div>
            <div class="mobilehometeam">
                <img class="smallteamlogo" src="{{ match.awayteam.logo_url }}">
                <span>{{ match.awayteam.name }}</span>
                <span><b>{{ match.awayteam_score }}</b></span>
            </div>
        </div>
    </div>
</div>