<div class="bgimageteam">
</div>
<div class="standardcontent contentcon">
    <div class="teamrow">
        <div class="team_details">
            <h2>{{ details.name }} <a ng-href="/countries/{{ details.country.id }}/"><img class="flag"
                                                                                          src="{{ details.country.flag_url }}"
                                                                                          alt="{{ details.country.name }} Flag"></a>
            </h2>
            <a target="_blank" ng-href="{{ details.website }}">
                <img class="hideLargeLogo largeteamlogo" src="{{ details.logo_url }}">
                <img class="hidemidLogo midteamlogo" src="{{ details.logo_url }}">
            </a>
        </div>

        <div class="moreteamdetails">
            <div class="currentranking">
                <div>
                    <span class="currentposition">{{ details.thisweek_position }}</span>
                    <i ng-show="changesame" class="fa fa-minus fa-5x teamchangepos" aria-hidden="true"></i>
                    <i ng-show="changedown" class="fa fa-arrow-down fa-5x teamchangepos" aria-hidden="true"></i>
                    <i ng-show="changeup" class="fa fa-arrow-up fa-5x teamchangepos" aria-hidden="true"></i>

                </div>
                <h4>{{ details.thisweek_rating }}</h4>
            </div>

            <div class="historicranking">
                <div class="historicrank">
                    <h5> Historic Max:</h5>
                    <hr class="historicline">
                    <span><b>{{ details.max_position }}</b></span> - <span>{{ details.max_rating }}</span><br>
                    <small>{{ details.max_date | date : "d-MMMM-yyyy" }}</small>
                </div>
                <div class="historicrank">
                    <h5> Historic Min:</h5>
                    <hr class="historicline">
                    <span><b>{{ details.min_position }}</b></span> - <span>{{ details.min_rating }}</span><br>
                    <small>{{ details.min_date | date : "d-MMMM-yyyy" }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="standardcontent">

    <div class="centerstadium">
        <h3>Stadium</h3>
        <div ng-repeat="stad in details.stadium">
            <h4>{{ stad.name }}</h4>
            <img alt="{{ stad.name }}" class="teamStadium" src="/static/images/stadiums/{{ stad.image_url }}">
            <p>Capacity: {{ stad.capacity }}</p>
            <p>Location: <a ng-href="/countries/{{ stad.country.id }}" ><img alt="{{ stad.country.name }} flag" class="flag" src="{{ stad.country.flag_url }}"></a></p>
        </div>
    </div>

    <div class="teamcontent">
        <h3>{{ details.name }} Statistics</h3>
        <div class="team_main_stats">
            <div class="teamStats">
                <div class="teamStat">
                    <h4>Home Record</h4>
                    <p>Total Home Matches: {{ information.home_matches }}</p>
                    <p><b>Home Win Percentage: </b>{{ information.home_win_precentage | number : 2 }}%</p>
                    <canvas class="maxChartSize" id="homeCtxChart" width="400" height="400"></canvas>

                </div>
                <div class="teamStat">
                    <h4>Away Record</h4>
                    <p>Total Away Matches: {{ information.away_matches }}</p>
                    <p><b>Away Win Percentage: </b>{{ information.away_win_precentage | number : 2 }}%</p>
                    <canvas class="maxChartSize" id="awayCtxChart" width="400" height="400"></canvas>

                </div>
                <div class="teamStat">
                    <h4>Ranked Match Streak</h4>
                    <p><b>Max Streak:</b> {{ details.max_streak }}</p>
                    <p><b>Current Streak:</b> {{ details.current_streak }}</p>
                </div>
            </div>
        </div>

        <div class="teamRankHistoryChart">
            <h3>Ranking History</h3>
            <canvas class="maxHistoryChartSize" id="myLineChart" width="400" height="400"></canvas>
        </div>

        <div class="latestgames">
            <h3>Latest Ranked Matches</h3>
            <table>
                <tr>
                    <th>Hometeam</th>
                    <th></th>
                    <th>Score</th>
                    <th></th>
                    <th>Score</th>
                    <th>Awayteam</th>
                    <th></th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat="match in teammatchdata" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                    <td><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}"></td>
                    <td class="teamname">{{ match.hometeam.name }}</td>
                    <td>{{ match.hometeam_score }}</td>
                    <td>-</td>
                    <td>{{ match.awayteam_score }}</td>
                    <td><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}"></td>
                    <td class="teamname">{{ match.awayteam.name }}</td>
                    <td>{{ match.match_date | date : "d-MMMM-yyyy" }}</td>
                </tr>
            </table>
            <button type="button" class="btn allRankedMatchesButton"><a ng-href="/teams/{{ details.id }}/matches">All Ranked Matches</a></button>
        </div>

        <div class="latestgamesMobile">
            <h3>Latest Ranked Matches</h3>
            <div class="mobilematch" ng-repeat="match in teammatchdata" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                <div class="matchInfo">{{ match.match_date | date : "d-MMMM-yyyy" }} - {{ match.tournament.name }}</div>
                <div class="mobileawayteam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.hometeam.name }}</span>
                    <span class="thirdMatch"><b>{{ match.hometeam_score }}</b></span>
                </div>
                <div class="mobilehometeam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.awayteam.name }}</span>
                    <span class="thirdMatch">{{ match.awayteam_score }}</span>
                </div>
            </div>
        </div>


        <div class="teamrivals">
            <h3>Rivals</h3>
            <h4>Search For Rival</h4>
            <form class="form-group">
                <input type="text" class="form-control" ng-model="searchRivals" placeholder="Search For Rival...">
            </form>
            <table class="rivalstable">
                <tr>
                    <th ng-click="sortType = 'team_b.name'; sortReverse = !sortReverse">
                        <button class="btn">
                            <div class="sortbutton">Rival<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                        </button>
                    </th>
                    <th class="rivalMobileHide"></th>
                    <th ng-click="sortType = 'wins'; sortReverse = !sortReverse">
                        <button class="btn">
                            <div class="sortbutton">Wins<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                        </button>
                    </th>
                    <th ng-click="sortType = 'losses'; sortReverse = !sortReverse">
                        <button class="btn">
                            <div class="sortbutton">Losses<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                        </button>
                    </th>
                    <th ng-click="sortType = 'draws'; sortReverse = !sortReverse">
                        <button class="btn">
                            <div class="sortbutton">Draws<i class="fa fa-sort aftersort" aria-hidden="true"></i></div>
                        </button>
                    </th>
                </tr>
                <tr ng-repeat="rival in rivals | orderBy:sortType:sortReverse | filter:searchRivals"
                    ng-class-odd="'odd'"
                    ng-class-even="'even'"
                    ng-click="clickteam(rival.team_b.id)">
                    <td class="rivalMobileHide">{{ rival.team_b.name }}</td>
                    <td><img class="smallteamlogo" src="{{ rival.team_b.logo_url }}"></td>
                    <td>{{ rival.wins }}</td>
                    <td>{{ rival.losses }}</td>
                    <td>{{ rival.draws }}</td>
                </tr>
            </table>
        </div>

        <div class="teamRivalsMobile">
            <h3>Rivals</h3>
            <div ng-repeat="rival in rivals" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'" class="mobileRival"
                 ng-click="clickteam(rival.team_b.id)">
                <div class="mobileRivalName">
                    <span class="mobileRivalImage">
                        <img class="smallteamlogo" src="{{ rival.team_b.logo_url }}">
                    </span>
                    <span class="mobileRivalTeamName">
                        {{ rival.team_b.name }}
                    </span>
                </div>
                <hr class="rivalsDivider">
                <div>
                    <p>
                        <span class="rivalInfo"><b>Wins: </b>{{ rival.wins }}</span>
                        <span class="rivalInfo"><b> Losses: </b>{{ rival.losses }}</span>
                        <span class="rivalInfo"><b> Draws: </b>{{ rival.draws }}</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
