<div class="bgimagetournament">
</div>
<div class="standardcontent contentcon">

    <div class="tournamentInfo">
        <a target="_blank" ng-href="{{ tournamentdata.website }}" alt="{{ tournamentdata.name }} Website">
            <h2>{{ tournamentdata.name }}</h2>
            <img class="largeteamlogo" alt="{{ tournamentdata.name }} Logo" src="{{ tournamentdata.logo_url }}">
        </a>
    </div>
    <br>
    <div class="tournamentsbottom">
        <div class="countries">
            <ul>
                <div class="tournamentcountries">
                    <div class="tournamentcountry" ng-repeat=" country in tournamentdata.countries">
                        <a ng-href="/countries/{{ country.id }}/"><img class="medflag" alt="{{ country.name }} Flag"
                                                                       src="{{ country.flag_url }}"></a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <br>
</div>
<div class="standardcontent">
    <div class="tourteams">
        <h4>Teams:</h4>
        <table class="tourteamtable">
            <thead>
            <tr>
                <th>Team</th>
                <th class="tourHideMobile"></th>
                <th class="tourHideMobile">Tournament Ranking</th>
                <th>Global Ranking</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tourrecentgamesrow" ng-click="teamtourlink(item.id)" ng-repeat=" item in tournamentteamdata" ng-class-odd="'odd'" ng-class-even="'even'">
                <td class="tourHideMobile">{{ item.name }}</td>
                <td><img class="midteamlogo" alt="{{ item.name }} Logo" src="{{ item.logo_url }}"></td>
                <td class="tourHideMobile">{{ $index + 1}}</td>
                <td>{{ item.thisweek_position }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <div class="tourrecentgames">
        <h4>Latest Matches:</h4>
        <table>
            <thead>
            <tr>
                <th>Hometeam</th>
                <th></th>
                <th>Score</th>
                <th></th>
                <th>Awayteam</th>
                <th></th>
                <th>Score</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="match in tournamentmatchdata" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                <td><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}" alt="{{ match.hometeam.name }} Logo">
                </td>
                <td>{{ match.hometeam.name }}</td>
                <td>{{ match.hometeam_score }}</td>
                <td><span> - </span></td>
                <td>{{ match.awayteam_score }}</td>
                <td><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}" alt="{{ match.awayteam.name }} Logo">
                </td>
                <td>{{ match.awayteam.name }}</td>
                <td>
                    <small>{{ match.match_date | date : "d-MMMM-yyyy" }}</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tourRecentGamesMedium">
        <h3>Latest Ranked Matches</h3>
            <div class="mobilematch" ng-repeat="match in tournamentmatchdata" ng-class-odd="'oddmatch'" ng-class-even="'evenmatch'">
                <div class="matchInfo">{{ match.match_date | date : "d-MMMM-yyyy" }}</div>
                <div class="mobileawayteam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.hometeam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.hometeam.name }}</span>
                    <span class="thirdMatch"><b>{{ match.hometeam_score }}</b></span>
                </div>
                <div class="mobilehometeam">
                    <span class="firstMatch"><img class="smallteamlogo" src="{{ match.awayteam.logo_url }}"></span>
                    <span class="secondMatch">{{ match.awayteam.name }}</span>
                    <span class="thirdMatch">{{ match.awayteam_score }}</span>
                </div>
            </div>
    </div>
</div>

